.form_inscription {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid gray;
  width: 25rem;
  height: 70vh;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}

.form_inscription h2 {
  font-weight: bold;
}

.close {
  position: absolute;
  left: 1em;
  top: 1em;
}
