.nav {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.ul_nav li {
  display: flex;
  align-items: center;
}

.ul_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon,
.ul_nav li {
  font-size: 1.4em;
}

.ul_nav .li_dark,
.ul_nav .li_light {
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  font-weight: bold;
}

.li_dark:hover {
  background-color: var(--colorSurVolDark);
}

.li_light:hover {
  background-color: var(--colorSurvolLight);
}
.ul_nav li:hover {
  cursor: pointer;
}

.icon {
  margin-right: 10px;
}

.btn_nav {
  margin-top: 10px;
}

.account {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 1em 5em;
}
