:root {
  --primaryColor: rgb(29, 155, 240);
  --colorError: #e0245e;
  --border: #9e9e9e;
  --colorSurVolDark: #1c2938;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root,
.container {
  height: 100%;
}

.dark {
  background-color: #15202b;
  color: #ffffff;
}
